<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funmed.funmeddoctor"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:name="com.funmed.funmeddoctor.FunmedApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5995405e1c5dd06ed8000d42" />

        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.activity.MainTabActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clinical.activity.DetectionSchemeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clinical.activity.SBKDetectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scientific.activity.ScientificProjectOrderPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scientific.activity.NormalDetectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.activity.ChangeNickNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".mine.activity.ChangeHeightActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".mine.activity.ChangeBirthdayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".mine.activity.ChangeEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".mine.activity.ChangeAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".mine.activity.ChangeAgeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".mine.activity.ChangeSexActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".mine.activity.ChangeWeightActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".mine.activity.UpdatePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".scientific.activity.SeniorDetectionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".scientific.activity.NormalDetectionConfirmActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".scientific.activity.DetectionUserInfoUploadActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".scientific.activity.CooperationResearchActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity android:name=".scientific.activity.CommitSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".community.activity.MsgInfoDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".community.activity.AidResearchDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mine.activity.MyResearchActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:exported="true"
            android:name=".wxapi.WXEntryActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".mine.activity.MyDetectionOrderListActivity" />
        <activity android:name=".mine.activity.AboutUsActivity" />
        <activity android:name=".scientific.activity.PayWaySelectActivity" />
        <activity android:name=".home.activity.GuideActivity" />
        <activity android:name=".scientific.activity.SecondNormalDetectionActivitiy" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 使用相机 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 定位所需的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 推送相关的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- QQ登录所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

</manifest>